body {
    background-color: lightgray;
}

#button {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
    font-size: 25px;
    background-color: hotpink;
    border: 0;
    
} 